<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Whole lot of Spoons</title>
    <link rel="stylesheet" href="/css/spoons.css">
  </head>
  <body>
    <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/spoons">Spoonbrary</a>
      <a href="/spoons/new">Add a Spoon</a>
    </nav>
    <%= yield %>
  </div>

  </body>
</html>
