<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Whole lot of Spoons</title>
  </head>
  <body>
  <nav>
    <a href="/">Home</a>
    <a href="/spoons">Spoons</a>
    <a href="/spoons/new">Add Spoons</a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
