
<div id="container">
  <h1>the Spoonbrary.</h1>
  <div class="entry">
    <% @spoons.each do |spoon| %>
    <div class="name">
      <a href="/spoons/<%= spoon["id"] %>">
        <%= spoon["name"] %>
      </a>
    </div>
    <div class="description">

    </div>
    <div class="rating">
      <%= spoon["rating"] %>/10
    </div>

    <% end %>
  </div>


<!-- </div> -->
