

  <h1>the Spoonbrary.</h1>

    <% @spoons.each do |spoon| %>
    <div class="display">
      <a href="/spoons/<%= spoon["id"] %>">
        <%= spoon["name"] %>
      </a>
    </div>
    <div class="display">

    </div>
    <div class="display">
      <%= spoon["rating"] %>/10
    </div>

    <% end %>



<!-- </div> -->
