<h1>Add New Spoons</h1>
 <form class="" action="/spoons" method="post">
   <label for="name">
     Name:
     <input type="text" name="name" placeholder="Salad Spoon" required>
     <input type="text" name="description" >
     <input type="number" name="rating" required>/10
   </label>
   <button>Spoon it</button>
 </form>
