<h2>New movie</h2>

<form action="/movies" method="post">

  <label>
    Title:
    <input type="text" name="title" placeholder="movie title" required>
  </label>

  <label>
    Year:
    <input type="number" name="year" placeholder="movie year">
  </label>

  <label>
    Cover:
    <input type="text" name="cover" placeholder="http://...">
  </label>

  <label>
    Actors:
    <input type="text" name="actors" placeholder="Ashley Judd, Morgan Freeman">
  </label>

  <label>
    Synopsis:
    <input type="text" name="synopsis" placeholder="short synopsis">
  </label>

  <label>
    Watched:
    <input type="text" name="watched" placeholder="yes or no">
  </label>

  <button>Add movie</button>
</form>
