<div class="question">
    <h1>Do you have a test for that?</h1>
</div>
<div class="buttons">
    <form action="/firstyes">
        <button id="yes">Yes</button>    
    </form>
    <form action="/firstno">
        <button id="no">No</button>
    </form>
</div>