<div class="lose-message">
  <h2>LOSE</h2>
  <p>Your guess: <%= @guessed_number %><br>
   Secret number: <%= @secret_number %></p>
</div>

<a href="/">Select New Game</a>
<a href="/secret_number">Play Again</a>
