<h2>Pick rock, paper or scissors</h2>

<form action="/rockpaperscissors/play">
  <select name="shape">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
    </select>
  <button>Pick</button>
</form>
