<h2>New Dessert</h2>

<form action="/desserts" method="post">
  <label>
    Name of Dessert:
    <input name="name" placeholder="Pavlova" required>
  </label>

  <label>
    Type of Dessert:
    <input name="type" placeholder="cake">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create dessert</button>
</form>
