<h1>Welcome to the Dessert Haven</h1>

<div class="dishes">
  <div>
  <img src="https://public.touch2success.com/static/59d80788d104300a66dfa6128a47ba98/img/phpFgMj5i.png" alt="shakes">
  </div>
  <div>
  <img src="https://public.touch2success.com/static/59d80788d104300a66dfa6128a47ba98/img/php0ABart.png" alt="sundaes">
  </div>
  <div>
  <img src="https://public.touch2success.com/static/59d80788d104300a66dfa6128a47ba98/img/phptMzCiP.png" alt="waffles">
  </div>
  <div>
  <img src="https://public.touch2success.com/static/59d80788d104300a66dfa6128a47ba98/img/phpWKJ0XU.png" alt="cakes">
  </div>
</div>
