<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Desserts</title>
  <link rel="stylesheet" href="./css/dessert.css">
</head>
<body>
<div class="container">
  <nav id="sidebar">
    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/desserts">Desserts Lists</a></li>
    <li><a href="/desserts/new">New</a></li>
    </ul>
  </nav>
<%= yield %>
</div>
<script src="./js/main.js" defer </script>
<script>console.log('hi')</script>
</body>
</html>
