<h2>Hits for "<%= @title %>": <strong><%= @hits.size %></strong></h2>


<%=
  str = ''
  @hits.each_with_index do |hit, i|
    str +=
    "
    <div class='tile'>
      <div class='left'>
      <h3>#{i+1}. #{hit[:title]}</h3>
      <p>by <strong>#{hit[:authors]}</strong></p>
      <details closed>
        <summary><strong>Description</strong></summary>
        #{hit[:description]}
      </details>
      </div>
      <div class='right'>
        <img src='#{hit[:thumb]}' alt='#{hit[:title]} by #{hit[:authors]}.'>
      </div>
    </div>
    "
  end
  str
%>
