<div class="game_container">
    <h1>Magic 8 Ball</h1>

    <h2>What do you want to know about your future?</h2>
    <input type="text" name="magic8ball_answer" placeholder="Am I cool?">
    <a class="ballbutton" href="/magic8ball/answer">
        <button>Press 8 Ball</button>
    </a>

</div>
