<form action="/actors" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="e.g. Tom Hardy">
  </label>

  <label>
    Image:
    <input type="text" name="image" placeholder="e.g. https://..."
  </label>

  <button>Add Actor</button>
</form>
