
<form action="/directors" method="post">

  <label>
    Name:
    <input type="text" name="name" placeholder="e.g. Clint Eastwood">
  </label>

  <label>
    Image:
    <input type="text" name="image" placeholder="e.g. https://...">
  </label>

  <button>Add Director</button>

</form>
