<h3> Movie: <%= @movie.name %> </h3>

<form action="/movies/<%= @movie.id %>/add-actor" method="post">
  <select name="actor_id">
    Actor:
    <% Actor.all.each do |actor| %>
      <% if !@movie.actors.include?(actor)%>
        <option value="<%= actor.id %>"><%= actor.name %></option>
      <% end %>
    <% end %>
  </select>

  <button>Add Actor to Movie</button>

</form>
