<div class="game-box">

    <div class="game" id="game_magic8ball">
        <a href="/magic8ball">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/8ball_cover.png" alt="Magic 8 Ball">
              </div>
              <div class="flip-card-back">
                <p>Magic 8 ball takes user's questions from the the URL as params and returns a positive or negative answer.</p>
              </div>
            </div>
        </a>
    </div>


    <div class="game" id="game_secretnumber">
        <a href="/secretnumber">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img src="/assets/secretnumber_cover.jpg" alt="Secret Number">
              </div>
              <div class="flip-card-back">
                <p>Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.</p>
              </div>
            </div>
        </a>
    </div>


    <div class="game" id="game_rps">
        <a href="/rps">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img src="/assets/rps_cover.jpg" alt="Rock Paper Scissors">
              </div>
              <div class="flip-card-back">
                <p>Rock Paper Scissors</p>
              </div>
            </div>
        </a>
    </div>

</div>
