.images {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.images2 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.images1 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

img {
  width: 100%;
  /* height: 100%; */
}
body {
  background-color: #4d699b;
}
h1, label {
  color: white;
}
input {
  margin: 10px 0;
}
