<h1><%= @album.title %></h1>


<%= image_tag @album.image, :class => 'feature' if @album.image.present?%>


<div class="controls">
  <%= link_to "Edit #{@album.title}", edit_album_path %>
  <%= button_to "Delete #{@album.title}", @album, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
