<h1>Games on Rails</h1>

<h2 class="game">
  <a href="/m8b">Magic 8 Ball</a>
</h2>

<h2 class="game">
  <a href="/secret_number">Secret Number</a>
</h2>

<h2 class="game">
  <a href="/rps">Rock Paper Scissors</a>
</h2>
