<h1>Magic 8 Ball</h1>

<form action="/m8b/answer">

  <label>
    <h2>What is your question?</h2>

    <input type="text" placeholder="Should I get a cat?" name="question" required>

  </label>

  <button>Submit</button>
</form>

<img src="/assets/eightball.png" alt="">
