<h1 class="result">Rock Paper Scissors</h1>

<h2 class="result"><%= @result %></h2>

<div class="result">

  <img src="/assets/<%= @play %>.png" alt="">

  <p><span>X</span></p>

  <img src="/assets/<%= @rand_play %>.png" alt="">

</div>

<div class="result">
<a class="back" href="/rps">Back</a>
</div>
