<h1 class="rps">Rock Paper Scissors</h1>

<form action="/rps/play">
  <div class="rps">
  <label>
    <img src="/assets/rock.png">
    <button type="submit" name="play" value="rock">
      Rock
    </button>
  </label>

  <label>
    <img src="/assets/paper.png">
    <button type="submit" name="play" value="paper">
      Paper
    </button>
  </label>

  <label>
    <img src="/assets/scissors.png">
    <button type="submit" name="play" value="scissors">
      Scissors
    </button>
  </label>

  </div>
</form>
