<h1>Secret Number</h1>

<div class="numbers">
  <h2>Guess a number from 1 to 10:</h2>

  <form action="/secret_number/guess">

    <% (1..10).each do |number| %>

      <button type="submit" name="guess" value="<%= number %>">
        <%= number %>
      </button>

    <% end %>

  </form>
</div>
