<h2>Edit Habitat</h2>

<form action="/habitats/<%= @habitat.id %>" method="post">

  <label>
    Name:
    <input type="text" name="name" value="<%= @habitat.name %>" placeholder="ocean" required>
  </label>

  <label>
    Image:
    <input type="text" name="image" value="<%= @habitat.image %>" placeholder="http://...">
  </label>

  <button>Edit habitat</button>
</form>
