<div class="idea-header">
  <img class="icon-small" src="/img/bulb-icon.png" alt="Bulb icon">
  <h2 class="idea-single">smash the lightbulb</h2>
</div>
<div class="<%= @idea.category %> container">
  <article class="single center">
    <h3>are you sure you want to delete:</h3>
    <h1 class="delete-title center"><%= @idea.title %></h1>
    <div class="center">
      <a href="/idea/<%= @idea.id %>" class="link-btn big-btn">cancel</a>
      <a href="/idea/<%= @idea.id %>/delete" class="delete-btn link-btn big-btn">delete</a>
    </div>

  </article>
</div>
