<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>entrepreneuring</title>
</head>
<body>
  <header>

    <a class="logo" href="/"><h1>entrepreneuring</h1><img class="mid-icon" src="/img/bolt-icon.png" alt="Bolt icon"></a>
    <!-- <nav> -->
      <ul>
        <li>
          <a href="#" class="link-btn">categories</a>
          <ul class="dropdown">
            <% @cats.each do |c| %>
              <a href="/category/<%= c %>" ><li class="link-btn <%= c %>"><%= c %></li></a>
            <% end %>
          </ul>
        </li>
        <li><a href="/idea/new" class="link-btn new-btn">new idea</a></li>
      </ul>

    <!-- </nav> -->
  </header>

  <%= yield %>
  <footer>
    <p class="center">&copy; entrepreneuring 2019</p>
  </footer>
</body>
</html>
