<div class="idea-header">
  <img class="icon-small" src="/img/bulb-icon.png" alt="Bulb icon">
  <h2 class="idea-single">bright idea</h2>
</div>
<div class="form-container">
  <form action="/" method="post" class="new">
    <label>
      <p>title</p>
      <input name="title" placeholder="flying car" required>
    </label>
    <label>
      <p>category</p>
      <input name="category" placeholder="transport" required>
    </label>
    <label>
      <p>description</p>
      <textarea name="description" placeholder="to fly with my car"></textarea>
    </label>
    <!-- <label>
      <p>related links</p>
      <input type="url" name="links" placeholder="https://ford.com/mustang.jpg">
    </label> -->
    <button type="submit">add idea</button>
  </form>
</div>
