<div class="home">
  <h1>Welcome to the Games Page!</h1>
  <div class="game-selection-board">
    <div>
      <a href="/magic">Magic 8 Ball</a>
      <img src="" alt="">
    </div>
    <div>
      <a href="/secret_number">Secret Number</a>
      <img src="" alt="">
    </div>
    <div>
      <a href="/rock_paper_scissors">Rock Paper Scissors</a>
      <img src="" alt="">
    </div>
  </div>
</div>
