/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

#container {
	max-width: 700px;
	margin: 20px auto;
}

body {
	font-family: 'Times New Roman', serif;
	color: #656565;
}

img {
	width: 100%;
}

h1 {
	line-height: 30px;
}

.read-more,
.date {
	color: #0368eb;
}

.date {
	margin: 1px 0;
	padding: 0;
}

.images img {
	width: 23%;
	margin: 1px;
}

.images {
	width: 100%;
	display: inline-block;
}
