<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Cloud Identification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        |
        <a href='/add-cloud'>Add a new cloud</a>
    </nav>
    <hr>
    <h1>Cloud Identification Guide</h1>
    <hr>
    <div class='container'>
        <%= yield %>
    </div>
</body>
</html>