<h2>Add New Car</h2>

<form action="/cars" method="post">

  <label>
    Brand:
    <input type="text" name="brand" placeholder="e.g. BMW">
  </label>
  <label>
    Model:
    <input type="text" name="model" placeholder="e.g. 135i">
  </label>
  <label>
    Year:
    <input type="text" name="type" placeholder="e.g. sport">
  </label>
  <label>
    Year:
    <input type="number" name="year" placeholder="e.g. 2013">
  </label>
  <label>
    Price
    <input type="number" name="price" placeholder="e.g. 150000">
  </label>
  <label>
    Image
    <input type="url" name="image" placeholder="https://.....">
  </label>

  <button>Add car</button>

</form>
