<h2>Rock Paper Scissors</h2>

<form action="/rps/result">
	<select name="choice">
		<option value="ROCK">ROCK</option>
		<option value="PAPER">PAPER</option>
		<option value="SCISSORS">SCISSORS</option>
	</select>
	<button>Submit</button>
</form>