<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Untitled</title>
</head>
<body>
    <header>
        <h1>Untitled Plant Web</h1>
    </header>
    <main>
        <div class="container">
                <%= yield %>
        </div>

    </main>
</body>
</html>
