<h1>Book Library</h1>

<form action="/result">

  <label for="">
    <h3>Find your book here:</h3>
    <input type="text" placeholder="book title" name="title">
  </label>
  <button>Get Book</button>
</form>
