
<div class="main">

  <div class="cover">
    <img src="<%= @cover_image %>" alt="book_cover">
  </div>

  <div class="title">
    <h2><%= @book_title %></h2>
    <h3>by <%= @authors %></h3>
  </div>

</div>

<p><%= @book_description %></p>
