<h2>choose rock, paper or scissors</h2>

<form class="" action="/rps/outcome" method="get">
  <button type="submit" name="throw" value="0">Rock</button>
  <button type="submit" name="throw" value="1">Paper</button>
  <button type="submit" name="throw" value="2">Scissors</button>
</form>
