<h2>Guess the number!</h2>

<form action="/secretnumber/result">
	<select name="choice">
		<% (1..10).each do |x| %>
			<option value="<%= x %>"><%= x %></option>
		<% end %>
	</select>
	<button>Submit</button>
</form>