/*debug*/
/* area, map {
  outline: 3px solid green;
} */
a {
  color: #222;
  text-decoration: none;
}
body {
   font-family: Helvetica, sans-serif;
   height: 100vh;
   width: 100vw;
   margin: 0;
   color: #222;
}
.xback {
  transform: scaleX(-1);
}
.yback {
  transform: scaleY(-1);
}

img {
  position: absolute;
  z-index: 10;
}

#add-cat {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 19px);
  border: 0;
  transition: 0.2s all;
  cursor: pointer;
  z-index: 1;

}
#add-cat:focus {
  outline: none;
}

.top-left {
  background: rgba(255,255,255,0.3);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vh;
  margin: 2vh;
  border-radius: 1vh;
}
.top-left a{
  display: block;
}

h1.top-left {
  color: rgba(255,255,255,1);
}

.gameover {
  position: relative;
  box-sizing:border-box;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin: 17vh auto;
  padding: 5vh;
  width: 60vh;
  background: rgba(255,255,255,0.7);
  border-radius: 1vh;
  text-align: center;
  z-index: 9999;
  display: none;
  color: #222;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
}

.highlight {
  background-color: rgba(255,255,255,0.3);
}

.gameover a, .top-left a {
  width: 25vh;
  margin: 1vh auto;
  background-color:#cce2f6;
  padding: 1vh;
  cursor: pointer;
  border: none;
  border-radius: 1vh;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  font-size: 1.1em;
  outline: none;
  display: block;
}
.gameover a:hover, .top-left a:hover  {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  outline: none;
}
.gameover a:focus, .top-left a:focus  {
  box-shadow: none;
  outline: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a.small-button {
  width: 1vh;
  line-height: 1em;
  text-align: center;
  background: #666;
  color: #fff;
  margin: 0;
  padding: 0 0.7vh 0.4vh;
}
