<h2>Ask a Question of the 8 ball</h2>

<form class="" action="/eight/answer" method="get">
  <input type="text" name="question" placeholder="Should I buy six cats?">
  <button type="submit">ask the 8 ball</button>

</form>
