/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  padding: 40px 80px 40px 40px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: none;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 12px;
  color: #34abeb;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 12px;
  line-height: 17px;
  width: 100%;
  margin: 0 0 1em 0;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #34abeb;
}

a:hover {
  color: #20222a;
}

.logo {
  width: 24.4%;
  border: 2px solid silver;
}

.logo-container {
  display: inline-block;
  width: 100%;
}

img {
  width: 100%;
}

footer {
  font-size: 10px;
}
