<h2>New Race</h2>

<form class="pure-form pure-form-aligned" action="/races" method="post">

  <div class="pure-control-group">
    <label for="">
      Event:    </label>
      <input name="event" placeholder="Le Tour De France" type="text" required>

  </div>


  <div class="pure-control-group">
    <label>
      Nickname:    </label>
      <input name="nickname" placeholder="La Grande Boucle" type="text" >

  </div>


  <div class="pure-control-group">
    <label for="">
      Country:    </label>
      <input name="country" placeholder="France" type="text" >

  </div>


  <div class="pure-control-group">
    <label for="">
      Stages:    </label>
      <input name="stages" placeholder="22" type="text" >

  </div>


  <div class="pure-control-group">
    <label for="">
      Image:    </label>
      <input type="url" name="image" placeholder="http://...">

  </div>


  <div class="pure-control-group">
    <label>
      Rider:    </label>
      <select name="rider_id" id="">
        <option value=""></option>
        <% Rider.all.each do |rider| %>
          <option value="<%= rider.id %>"><%= rider.name %></option>
        <% end %>
      </select>

  </div>


  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Create race</button>
  </div>

</form>
