<h2>New Rider</h2>

<form class="pure-form pure-form-aligned" action="/riders" method="post">

  <div class="pure-control-group">
    <label for="">
      Name:    </label>
      <input name="name" placeholder="Red admiral" type="text" required>

  </div>

  <div class="pure-control-group">
    <label for="">
      Team:    </label>
      <input name="team" placeholder="Nymphalidae" type="text">

  </div>
  <div class="pure-control-group">
    <label for="">
      Country:    </label>
      <input name="country" placeholder="Nymphalidae" type="text">

  </div>
  <div class="pure-control-group">
    <label for="">
      Image:  </label>
      <input type="url" name="image" placeholder="http://...">

  </div>
  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Create Rider</button>
  </div>
</form>
