@import url('https://fonts.googleapis.com/css?family=Galada|Lato:300|Roboto&display=swap');* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Galada', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #FF483B;
  /* background-color: #FF8F87; */
  color: white;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
nav {
  margin-top: 2rem;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px 0 0;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.content {
  background-color: #FF8F87;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 2rem;
}
.form {
  background-color: #FF8F87;
}
.form input {
  display: block;
  /* width: 2rem; */
}

.form label {
  font-size: 20px;
}
.form button {
  display: block;
}

/* Index Table */
tr {
  height: 2rem;
}
th {
  background-color: #FF483B;
}
tr:hover {
  background-color: #FF483B;
}
