<div class="mountain-image">
  <img class="img-fluid" src="https://www.adventureinyou.com/wp-content/uploads/2014/01/philippines-mayon-1400x600.jpg" alt="mountain image">
  <div class="centered"><h1><strong>MOUNTAINS IN THE PHILIPPINES</strong></h1></div>
</div>
