<div class="container container-fluid shadow p-3 mb-5 bg-white rounded">
<h2>New Mountain</h2>

<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    Location:
    <input name="location">
  </label>

  <label>
    Elevation(in meters):
    <input type="number" name="elevation">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="https://...">
  </label>

  <label>
    Fun fact:
    <textarea name="fact" rows="4"></textarea>
  </label>

  <button>Create Mountain</button>
</form>
</div>
