<h2>We find you your favourite book's picture</h2>

<form action="/price">
	<label>
		Please enter the book's title:
		<input name="book_img" placeholder="Jaws" required> <!-- required avaiding user to try without input-->
	</label>
	<button>Get Image</button>
</form>