<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find book's picture</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
  <nav>
  	
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <%= yield %>
</div>
</body>
</html>