<div class="game_container">

<div class="result">
    <% if @bool %>
    <h1>You Win!</h1>
    <% else %>
    <h1>You Lose!</h1>
    <% end %>
</div>
<h2>The secret number is <%= @number %></h2>

<a href="/secretnumber">Play again</a>
</div>
