/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

#container {
  width: 90%;
}

p {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
  width: 80%;
}

a:hover {
  color: #20222a;
}

body {
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
  padding-left: 50px;
}

#imgBar {
  width: 100%;
  display: inline;
}

img {
  width: 82%;
}

#imgBarImg {
  width: 20%;
  display: inline-block;
}
