<h2>Add a new car</h2>

<form action="/cars" method="POST">
    <label>
        Name:
        <input name="name" placeholder="Name" required>
    </label>
    <label>
        Year:
        <input type="number" name="year" placeholder="year">
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Add new car</button>
</form>