<h2>Rock Paper Scissors</h2>

<form action='/rock_paper_scissors/<%= @throw %>' method="GET">
  <a href="/rock_paper_scissors/rock">Rock</a>
    <!-- <img src="/assets/rock.jpeg" alt="rock"> -->
  <a href="/rock_paper_scissors/paper">Paper</a>
    <!-- <img src="/assets/paper.jpeg" alt="paper"> -->
  <a href="/rock_paper_scissors/scissors">Scissors</a>
    <!-- <img src="/assets/scissors.jpeg" alt="scissors"> -->
</form>
