<h2>Rock Paper Scissors</h2>

<form action="/rps">
  <label>
    <select name="move">
      <option></option>
      <option>Scissors</option>
      <option>Paper</option>
      <option>Rock</option>
    </select>
  </label>
  <button>GO!</button>
</form>
