<h2>Please submit your question for the Magic 8 Ball to answer.</h2>

<form action="/magic/result">
    Question:
    <input type="text" name="question" required placeholder="How is my next job looking?">
    <button>Submit</button>
  </form>
