<h1>the Board files</h1>
<h2>Snowboard Profiles</h2>
<p>The profile is the shape of a board when you look at it side on. When you place the board on the snow it will touch the snow at different points along its base depending on what kind of profile it has – this means that the profile has a massive effect on how aboard feels when you ride it.</p>
<h2>Snowboard Shapes</h2>
<p>The shape of a snowboard can effect the ease of riding certain terrain, snow conditions and also various riding styles. As snowboarding has developed as a sport </p>
