<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/profiles.css">
    <title>Snowboard Profiles</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/profiles">Profiles</a>
        <a href="/profiles/new">Add a Profile</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
