<h2>Enter a New Profiles</h2>

<form action="/profiles" method="post">
  <label>
    Name:
    <input name="name" placeholder="eg. Camber" required>
  </label>

  <label>
    Experience Level:
    <input name="skill" placeholder=" eg. beginner">
  </label>
  <label>
    Image:
    <input name="image" type="url" placeholder="https://...">
  </label>
  <label>
    Overview:
    <input name="description">
  </label>
  <button>Submit</button>
</form>
