<h2>Submit a Profile</h2>

<div class="form">
  <form action="/profiles" method="post">
    <label>
      Name:
      <input name="name" placeholder="eg. Camber" required>
    </label>

    <label>
      Experience Level:
      <input name="skill" placeholder=" eg. beginner">
    </label>
    <label>
      Image:
      <input name="image" type="url" placeholder="https://...">
    </label>
    <label>
      Board Shape:
      <select name="shape_id">
        <option></option>
        <% Shape.all.each do |shape| %>
          <option value="<%= shape.id %>"><%= shape.name %></option>
        <% end %>
      </select>
    </label>
    <label>
      <textarea name="description" rows="8" cols="80" placeholder="Give a brief overivew"></textarea>
      <!-- <input name="description"> -->
    </label>
    <button>Submit</button>
  </form>
</div>
