<div class="content">
  <h2>Shapes</h2>

  <table class="index">
    <tr>
      <th>Snowboard Shape</th>
      <th>Terrain/Riding Style</th>
    </tr>
    <% @shapes.each do |shape| %>

    <tr>
      <td>
        <a href="/shapes/<%= shape["id"] %>">
          <%= shape["name"] %>
        </a>
      </td>
      <td>
          <%= shape["terrain"] %>
      </td>
      <% end %>
    </tr>
  </table>



</div>
