<h2>Submit a Shape</h2>

<div class="form">
  <form action="/shapes" method="post">
    <label>
      Name:
      <input name="name" placeholder="eg. True Twin" required>
    </label>

    <label>
      Terrain:
      <input name="terrain" placeholder=" eg. beginner">
    </label>
    <label>
      Image:
      <input name="image" type="url" placeholder="https://...">
    </label>
    <label>
      <textarea name="description" rows="8" cols="80"placeholder="Give a brief overivew"></textarea>
      <!-- <input name="description"> -->
    </label>
    <button>Submit</button>
  </form>
</div>
