<h2>Add a new cat</h2>

<form action="/cats" method="post">
    <label>
        <p>Name:</p> 
        <input type="text" name="name" required placeholder="Name">
    </label>
    <label>
        <p>Is it fluffy:</p>
        <input type="checkbox" name="isfluffy">
    </label>
    <label>
        <p>Color:</p>
        <input type="text" name="color" placeholder="Color">
    </label>
    <label>
        <p>Image:</p>
        <input type="url" name="image" placeholder="http://...">
    </label>
    <button>Add</button>
</form>