<h2>Book Search</h2>

<p>Type the name of your book to find out more about it:</p>


<form action="/result">
  <label for="">
    Book name:
    <input type="text" placeholder="Jaws" name="title" required>
  </label>

  <button>Find book</button>

</form>
<p>Type the name of your book to find out more about it:</p>
