<h2>New Ocean</h2>

<form action="<%= oceans_path %>" method="post">
  <input type="text" name="name" placeholder="Ocean Name">
  <input type="number" name="area" placeholder="Area (square km)">
  <input type="number" name="depth" placeholder="Maximum Depth (m)">
  <input type="number" name="max_salinity" placeholder="Maximum Salinity (ppt)">
  <input type="url" name="image" placeholder="Image URL">
  <button type="submit">Add Ocean</button>

</form>
