#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumb {
    box-shadow: 0px 0px 5px 1px #aaa;
    width: 250px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.wideThumb {
    width: 770px;
}

#search {
    display: flex;
    flex-direction: row;
}