
<div class='homeContainer'>
    <a href="/magic">
        <p>Magic 8 Ball</p>
    </a>
    <a href="/numberguess">
        <p>Number Guess</p>
    </a>
    <a href="/scissorpaperrock">
        <p>Scissor Paper Rock</p>
    </a>
</div>