<div id='magicContainer'>
    <h1>Magic 8 Ball</h1>
    <h3>Please enter your question to receive your wisdom!</h3>

    <form action='/magic/result'>
        <input name='q' required></input>
        <button>Ready</button>
    </form>
</div>

<a href='/'>Return home</a>