<div id='numberContainer'>
    <h1>Number Guess</h1>
    <h3>Guess the number that the computer is thinking</h3>

    <div class='guessBox'>
        <a href="/numberguess/1"><p>1</p></a>
        <a href="/numberguess/2"><p>2</p></a>
        <a href="/numberguess/3"><p>3</p></a>
        <a href="/numberguess/4"><p>4</p></a>
        <a href="/numberguess/5"><p>5</p></a>
        <a href="/numberguess/6"><p>6</p></a>
        <a href="/numberguess/7"><p>7</p></a>
        <a href="/numberguess/8"><p>8</p></a>
        <a href="/numberguess/9"><p>9</p></a>
        <a href="/numberguess/10"><p>10</p></a>
    </div>
    
</div>

<a href='/'>Return home</a>