
<div class='homeContainer'>
    <a href="/scissorpaperrock/scissor">
        <p>Scissor</p>
    </a>
    <a href="/scissorpaperrock/paper">
        <p>Paper</p>
    </a>
    <a href="/scissorpaperrock/rock">
        <p>Rock</p>
    </a>
</div>