<h2>Add new type of beer</h2>

<form action="/types" method="post">
	<label>
		<p>Name:</p>
		<input type="text" placeholder="Name" name="name" required>
	</label>
	<label>
		<p>Description:</p>
		<input type="text" placeholder="Yummy or sth more proffesional" name="description">
	</label>
	<label>
		<p>Image:</p>
		<input type="text" placeholder="http://..." name="image">
	</label>

	<button>Create type</button>
</form>