<h2>new</h2>

<form action="<%= resorts_path %>" method="post">
  <label>
    Resort Name:
    <input name="name" value="">
  </label>
  <label>
    Trail map Image:
    <input type="text" name="image" value="">
  </label>
  <label>
    Location:
    <input type="text" name="location" value="">
  </label>
  <label>
    No. Lifts:
    <input type="number" name="lifts" value="">
  </label>
  <label>
    Resort size:
    <input type="text" name="size" value="">
  </label>
  <label>
    Average snowfall:
    <input type="number" name="snow" value="">
  </label>
  <button>Submit</button>
</form>
