@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color:  #dacdcd;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 960px;
  padding: 0px 15px;
  box-sizing: border-box;
}

footer {
  padding-bottom: 50px;
  font-size: 12px;
  text-align: right;
}

.container {
  position: relative;
  width: 960px;
  margin: auto;
  height: 100%;
  background-color: #bbb;
}

.floatedRight {
  float: right;
  margin: 10px;
}

header {
  background-color: #bbb;
  height: 350px;
}

.headContainer{
  display: inline-block;
  vertical-align: top;
  height: 350px;
  border-bottom: black solid 1px;
  width: 698px;
}

.headContainer h1 {
  margin-left: 60px;
  margin-top: 150px;
}

nav {
  height: 50px;
  text-align: right;
}

nav ul {
  display: block;
  margin-right:
}

ul a {
  display: inline-block;
  width: 100px;
  color: black;
  list-style-type: none;
  margin: 5px;
  padding: 15px;
  text-align: left;
  transition: 0.5s background-color;
  text-decoration: none;

}

ul a:hover {
  background-color: #ffaaaa;
}

header img {
  display: inline-block;
  height: 350px;
  margin: 0;
  padding: 0;
}

main img {
  height: 250px;
  border: 1px black solid;
  margin: 10px;
  margin-left: 60px;
}

main ul {
  display: inline-block;
  width: 600px;
  vertical-align: top;
}

.party {
  position: absolute;
  animation-name: "party";
  animation-duration: 4s;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 100%;
}

.disco {
  animation-name: "disco";
  animation-duration: 2s;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #bbb;
}


@keyframes party {
    0% {width: 0px; height: 0px; background-color: red}
    50% {width: 40px; height: 40px; background-color: yellow}
    100% {width: 0px; height: 0px; background-color: blue}
}

@keyframes disco {
    2% {background-color: red}
    17% {background-color: yellow}
    33% {background-color: blue}
    48% {background-color: purple}
    62% {background-color: blue}
    76% {background-color: yellow}
    90% {background-color: red}
    100% {background-color: #bbb}
}

.box1 {
  top: 100px;
  left: 200px;
}


.box2 {
  top: 100px;
  left: 300px;
}

.box3 {
  top: 450px;
  left: 700px;
}

.box4 {
  top: 100px;
  left: 200px;
}

.box5 {
  top: 100px;
  left: 200px;
}

.box6 {
  top: 100px;
  left: 200px;
}

.box7 {
  top: 100px;
  left: 200px;
}

.box8 {
  top: 100px;
  left: 200px;
}

.box9 {
  top: 100px;
  left: 200px;
}

.box10 {
  top: 100px;
  left: 200px;
}

.box11 {
  top: 100px;
  left: 200px;
}

.box12 {
  top: 100px;
  left: 200px;
}

.box13 {
  top: 100px;
  left: 200px;
}

.box14 {
  top: 100px;
  left: 200px;
}

.box15 {
  top: 100px;
  left: 200px;
}

.disco:hover {
  animation-name: "disco";
  animation-play-state: running;
}

.disco:hover ~ .box1{
  animation-name: "party";
  animation-play-state: running;
}

.disco:hover ~ .box2{
  animation-name: "party";
  animation-play-state: running;
}

.disco:hover ~ .box3{
  animation-name: "party";
  animation-play-state: running;
}

.disco:hover ~ .box4{
  animation-name: "party";
  animation-play-state: running;
}

.disco:hover ~ .box5{
  animation-name: "party";
  animation-play-state: running;
}
