<h2>choose a number from 1-10</h2>

<form class="" action="/secret/result" method="get">
  <select class="" name="num">
    <% (1..10).each do |n| %>
      <option value="<%= n %>"><%= n %></option>
    <% end %>
  </select>
  <button type="submit">guess</button>
</form>
