<h2>New Fighters</h2>

<form action="/fighters" method="post">
  <label>
    Name:
    <input name="name" placeholder="Eurofighter Typhoon" required>
  </label>

  <label>
    Model:
    <input name="model" placeholder="F2 ZJ910">
  </label>

  <label>
    Generation:
    <input name="generation" placeholder="4">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://..." >
  </label>

  <button>New Fighter</button>
</form>