<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fighters</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
  <link rel="stylesheet" href="/public/css/fighters.css"> 
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/fighters">All Fighters</a>
      <a href="/fighters/new">New Fighter</a>
      <a href="/fighters/edit">Edit Fighter</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>