@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: #343434;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.results {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* background-color: black; */
}
/* set up queries for grid */
.card {
  background-color: #4f4e4e;
  /* margin-bottom: 10px; */
}
.character {
 color: #ffa94a;
}
.character img {
  width: 100%;
}
.character h3 {
  /* display: inline-block; */
  font-family: 'Rubik';
  font-size: 20px;
  color: #bebebe;
/* text-align: left; */
}
#name {
  font-family:
}
.character p {
  /* display: block; */
  font-family: 'Roboto';
  font-size: 20px;
  justify-content: flex-end;
  /* margin-left: 2rem; */
}
#mid {
  border-bottom: 1px solid #ffa94a;
  border-top: 1px solid #ffa94a;
}
.stats div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
span {
  font-family: 'Roboto';
  font-size: 20px;
  color: #bebebe;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
#page {
  color: white;
  text-decoration: none;
}
h1, h2 {
  color:#bebebe;
}
