<h3>Please edit this glacier</h3>

<form method='post' action='/glacier/<%= @glacier.id %>'>
    <label>
        Name:
        <input type='text' value=<%= @glacier.name %> name='name' required></input>
    </label>
    <label>
        Length (meters):
        <input type='number' name='length' required></input>
    </label>
    <label>
        Main country:
        <input type='text' name='country' required></input>
    </label>
    <label>
        Volume (m^3):
        <input type='number' name='volume' required></input>
    </label>
    <label>
        Link to an image (optional):
        <input type='url' name='image'></input>
    </label>
    <button>Submit</button>
</form>
