<h3>Top 10 glaciers</h3>
<div id='home-grid'>

    <% @glaciers.each do | glacier | %>
            <a class='home-grid-box' href='/glaciers/<%= glacier.id %>'>
                <p><%= glacier.name %></p>
            </a>
    <% end %>
</div>