@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #7499B3;
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: #FF9800;
}
nav {
  text-align: center;
  padding: 30px 0;
}
a {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 0 10px;
}
a:hover {
  text-decoration: underline;
  color: #FF9800;
}
.title {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* spoonbrary */
#container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #10639E;
  border-radius: 0 20px 0 20px;
  padding: 15px 40px;
}
#container a {
  font-size: 20px;
}
#form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #10639E;
  padding: 40px;
  border-radius: 0 20px 0 20px;
}
#form h1 {
  margin: 0;
}
#form label {
  display: block;
  padding: 10px 0;
}
form {
  margin: 10px;
}
.description {
  width: -webkit-fill-available;
}
input {
  border-radius: 5px;
  height: 25px;
}
.entry:hover {
  background-color: #7499B3;
}
