<p>Test</p>

<form action='/' method='post'>
    <label>
        Item name:
        <input name='item' required>
    </label>
    <label>
        Sport:
        <input name='sport' required>
    </label>
    <label>
        Quanitity:
        <input name='quantity' type="number" required>
    </label>
    <button>Add to collection</button>
</form>