
<div class='itemPage header'>
    <p>Item: <strong><%= @item["item"] %></strong></p>
    <p>Sport: <strong><%= @item["sport"]%></strong></p>
    <p>Quantity: <strong><%= @item["quantity"]%></strong></p> 
</div>

<div class='itemPage body'>
    <img src="#">
    <p>AUTOMATIC IMAGE COMPLETION COMING SOON</p>

    <a href="/items/<%= @item["id"] %>/edit">Edit</a>
</div>