<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <title></title> <!-- Enter title -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="/css/surfboards.css">

    <!-- Scripts -->

  </head>

  <!-- BODY -------------------------------------->
  <body>
    <div class="container">
      <nav>
        <a href="/" class="name">Home</a>
        <a href="/surfboards" class="name">All Boards</a>
        <a href="/surfboards/new" class="name">Add a Board</a>
      </nav>

      <%= yield %>

    </div>

  </body>
</html>
