  <header>
    Add a Board
  </header>

  <form action="/surfboards" method="post">

    <label for="">
      Board name
      <input name="name" placeholder="The shredder" type="text" required>
    </label>

    <label for="">
      Brand of Board
      <input name="brand" placeholder="MR" type="text" required>
    </label>

    <label for="">
      Type of Board
        <input name="type" placeholder="Short board" type="text">
    </label>

    <label for="">
      Image of Board
      <input  name="image" type="url" placeholder="https://...">
    </label>

    <button type="form" name="button">Submit Board</button>

  </form>
