<h2>Add A Continent</h2>

<form action="/continents" method="post">

  <label>
    Continent:
    <input name="name" placeholder="Enter continent" required>
  </label>

  <label>
    Size:
    <input name="size" placeholder="Enter land area(sq km)">
  </label>

  <label>
    Population:
    <input name="population" placeholder="1,000,000">
  </label>

  <label>
    Number of countries:
    <input type="number" name="numofcountries" placeholder="Enter number">
  </label>

  <label>
    Fun fact:
    <input name="fact" placeholder="Enter a fun fact" >
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://.." >
  </label>
  <button>Add</button>
</form>
