<h2>Add A Country</h2>

<form action="/countries" method="post">
<div class="form-group">
  <label>
    Country:
    <input name="name" class="form-control" placeholder="Enter country" required>
  </label>
  </div>
  <div class="form-group">
  <label>
    Capital city:
    <input name="capitalcity" class="form-control" placeholder="Enter capital city">
  </label>
  </div>
  <div class="form-group">
  <label>
    Language/s:
    <input name="languages" class="form-control" placeholder="English">
  </label>
  </div>
  <div class="form-group">
  <label>
    Continent:
    <select name="continent_id">
      <option></option>
      <% Continent.all.each do |continent| %>
        <option value="<%= continent.id %>"><%= continent.name %></option>
      <% end %>
    </select>
  </label>
  </div>
  <div class="form-group">
  <label>
    Visited:
    <input name="visited" class="form-control" placeholder="true or false">
  </label>
  </div>
  <div class="form-group">
  <label>
    Photo of a flag:
    <input type="url" class="form-control" name="flag" placeholder="http://.." >
  </label>
  </div>
  <div class="form-group">
  <label>
    Image:
    <input type="url"  class="form-control" name="image" placeholder="http://.." >
  </label>
  </div>
  <button>Add</button>
</form>
