<h1>TRAVEL BUCKET LIST</h1>

<img src="https://tourscanner.co/blog/wp-content/uploads/2018/04/travel-ideas-696x465.jpg?x87060">

<p>Check out the <strong>list of continents and countries</strong> to see some information. You can <em>view, add, update or delete</em> the info as you would please. You can also <em>add a photo of you</em> of the country you have visited or you can just add a photo of the places you would like to see in the future.</p>

<img src="https://tourscanner.co/blog/wp-content/uploads/2018/04/Travel_Bucket_List_Ideas.gif?x87060">
