<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>TRAVEL BUCKET LIST</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
  <link rel="stylesheet" href="/css/style.css">
  <body>
<div class="container">
  <div class="container-fluid shadow p-3 mb-5 bg-white rounded" >
    <nav class="navbar navbar-light" style="background-color: #F3F3F3;">
      <a href="/">Home</a>
      |
      <a href="/continents">Continents</a>
      |
      <a href="/continents/add">Add A Continent</a>
      |
      <a href="/countries">Countries</a>
      |
      <a href="/countries/add">Add A Country</a>
    </nav>
    <%= yield %>
  </div>
  </div>

</body>
</html>
