<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY TRAVEL BUCKET LIST</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      |
      <a href="/continents">Continents</a>
      |
      <a href="/continents/add">Add A Continent</a>
      |
      <a href="/countries">Countries</a>
      |
      <a href="/countries/add">Add A Country</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
