<h2>new idea</h2>
<form action="/" method="post">
  <label>
    Title
    <input name="title" placeholder="flying car" required>
  </label>
  <label>
    Category
    <input name="category" placeholder="transport" required>
  </label>
  <label>
    Description
    <input name="description" placeholder="to fly with my car">
  </label>
  <label>
    Related Links
    <input type="url" name="links" placeholder="https://ford.com/mustang.jpg">
  </label>
  <button type="submit">Add Idea</button>
</form>
