<h2>Type your question and get answers.</h2>

<form action="/magic8ball/result">
    <label>
      Question
      <input type="search" name="question" required placeholder="Ask any question">
    </label>
    <button>Click me to ask!</button>
</form>
