<main class="container">

  <h3>Select a new feature to implement.</h3>
  <p>That does not annoy Joel...like a cat walking across a screen.</p>

  <section>
    <button id="done"><a href="/test">Continue</a></button>
  </section>
</main>
