<main class="container">

  <h3>Need to refactor?</h3>
  <p>Is your code a rainforest?</p>

  <section>
    <button id="yes"><a href="/refactoranswer">Yes</a></button>
    <button id="no"><a href="/newfeature">No</a></button>
  </section>
</main>
