<main class="container">

  <h3>Do you have a test for that?</h3>
  <p>That satisfies Joel.</p>

  <section>
    <button id="yes"><a href="/testpass">Yes</a></button>
    <button id="no"><a href="/writeanswer">No</a></button>
  </section>
</main>
