<main class="container">

  <h3>Does the test pass?</h3>
  <p>Does your train change at Union Square?</p>

  <section>
    <button id="yes"><a href="/refactor">Yes</a></button>
    <button id="no"><a href="/enoughanswer">No</a></button>
  </section>
</main>
