
*{
  border: 1px solid green;
}

body{
  background-color: aliceblue;
  /*Basic reset*/
  padding: 0;
  margin: 0;

}
h1{
  padding: 35px;
  margin-top: 120px;
  text-align: center;
}
a{
  color: #ff02bd;
}
h2, h3, h4{
  background-color: white;
  text-align: center;
  text-shadow: 0 0 5x red;
}
img{
  width: 50%;
}
p{
  font-style: italic;
}
.fancy{
  color: pink;
  font-style: normal;
  font-size: 200%;
}
